header{
    display: block; 
 
    padding-top: 28px;
    padding-bottom: 28px;
    text-align: center;
 }
 
 body{
     text-align: center;
 }
 
 header .logo{
     width: 120px;
     height: auto;
 }
 
 nav{
     display: block;
 
     background: #333;
     padding-top: 12px;
     padding-bottom: 12px;
     text-align: center;
 }
 
 nav a{
     color: #fff;
     text-decoration: none;
     padding-left: 12px;
     padding-right: 12px;
 }

 .home-news-container{
    margin-top: 24px;
 }
 
 .news-item{
    /*padding: 12px;*/
    text-align: left;
    margin-bottom: 24px;
 }

 .news-item img{
    max-width: 100%;
    height: auto;
    margin-top: 8px;
    margin-bottom: 8px;
 }

 .news-item .news-title{
    font-size: 24px;
    color: #31cce3;
 }

 .news-item .news-excerpt{
    color: #a5a5a5;
 }

 .news-container{
   text-align: left;
   margin-top: 24px;
   margin-bottom: 24px;
 }

 .header-square{
   display: inline-block;
   width: 100%;
   background: #5c5c5c;
   color: #fff;
   font-size: 20px;
 }

 .header-square span{
   display: inline-block;
   width: 25px;
   height: 48px;
   background: #31cce3;
   
 }

 .header-square .header-text{
   display: inline-block;
   padding-left: 8px;

 }